# Visual Studio
.vs/
*.user
*.suo
*.rsuser

# Build folders
bin/
obj/

# Visual Studio Code
.vscode/

# Logs
*.log

# Test results
TestResults/

# NuGet
*.nupkg
packages/

# OS files
.DS_Store
Thumbs.db